@using MVC.Models;
@model IndexModel
@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/MainStyle.css");
    @Scripts.Render("~/js/ThumbnailHomeController.js");
    IndexThumbnailModel[] thumbnailData = Model.thumbnailData;
}

<div class="row search-bar-div">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input id="searchBar" type="text" class="form-control" placeholder="Search for..." style="border-radius: 0px">
            <span class="input-group-btn">
                <button id="searchButton" class="btn btn-default" type="button" style="border-radius: 0px">Go!</button>
            </span>
        </div>
    </div>
</div>

<!--<div class="loadingStuff">
    <h1>Loading...</h1>
    <div class="loader"></div>
</div>-->

<div id="wrapper">
    <div id="columns">
        @foreach (IndexThumbnailModel index in thumbnailData)
        {
            <a href="/Game/ItemPage/@index.id">
                <div class="pin">
                    <img src="@index.imageURL" />
                    <h2>@index.name</h2>
                    <p>
                        @index.deck
                    </p>
                </div>
            </a>
        }
    </div>
</div>
