@using MVC.Models;
@model IndexModel
@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/homeStyle_with_thumb.css");
    @*@Scripts.Render("~/js/ThumbnailHomeController.js");*@
RootObject[] rootArray = Model.rootObj;
}

<div class="row search-bar-div">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input id="searchBar" type="text" class="form-control" placeholder="Search for..." style="border-radius: 0px">
            <span class="input-group-btn">
                <button id="searchButton" class="btn btn-default" type="button" style="border-radius: 0px">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<!--<div class="loadingStuff">
    <h1>Loading...</h1>
    <div class="loader"></div>
</div>-->

<div id="rows">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" data-game-id="">
                    <img id="side-pic-a" src=@rootArray[0].results.image.medium_url alt="">
                    <div class="caption">
                        <h3>@rootArray[0].results.name</h3>
                        <p>@rootArray[0].results.deck</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="thumbnail">
                            <img id="pic-a-1" src=@rootArray[1].results.image.medium_url alt="">
                            <div class="caption">
                                <h3>@rootArray[1].results.name</h3>
                                <p>@rootArray[1].results.deck</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="thumbnail">
                            <img id="pic-b-1" src=@rootArray[2].results.image.medium_url alt="">
                            <div class="caption">
                                <h3>@rootArray[2].results.name</h3>
                                <p>@rootArray[2].results.deck</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="thumbnail">
                            <img id="pic-b-2" src=@rootArray[3].results.image.medium_url alt="">
                            <div class="caption">
                                <h3>@rootArray[3].results.name</h3>
                                <p>@rootArray[3].results.deck</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                        <div class="thumbnail">
                            <img id="pic-a-2" src=@rootArray[4].results.image.medium_url alt="">
                            <div class="caption">
                                <h3>@rootArray[4].results.name</h3>
                                <p>@rootArray[4].results.deck</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img id="side-pic-b" src=@rootArray[5].results.image.medium_url alt="">
                    <div class="caption">
                        <h3>@rootArray[5].results.name</h3>
                        <p>@rootArray[5].results.deck</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img id="bottom-pic-1" src=@rootArray[6].results.image.medium_url alt="">
                    <div class="caption">
                        <h3>@rootArray[6].results.name</h3>
                        <p>@rootArray[6].results.deck</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img id="bottom-pic-2" src=@rootArray[7].results.image.medium_url alt="">
                    <div class="caption">
                        <h3>@rootArray[7].results.name</h3>
                        <p>@rootArray[7].results.deck</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img id="bottom-pic-3" src=@rootArray[8].results.image.medium_url alt="">
                    <div class="caption">
                        <h3>@rootArray[8].results.name</h3>
                        <p>@rootArray[8].results.deck</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
