<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - PlayDB</title>

    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/topLayout.css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function (event) {
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });
    </script>

</head>
<body>
    <div class="banner-div">
        <img class="banner-img" src="~/img/banner-new.jpg" />
    </div>
    <div class="btn-group btn-group-justified nav-bar-top" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Index", "Home")';">HOME</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Discover", "Search")';">DISCOVER</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("History", "Search")';">HISTORY</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("About", "Home")';">ABOUT</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Index", "Wallpaper")';">WALLPAPERS</button>
        </div>
    </div>
    
    @RenderBody()

    <div class="container body-content">
        
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
